/* 全局样式表 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px; /* 当页面宽度不足时，会强制为1366px */
}

/* 面包屑导航 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

/* 级联菜单的高度 */
/* 不设置级联菜单的最后一级看不到 */
.el-cascader-menu {
  height: 200px;
}

/* 富文本编辑器样式 */
.ql-editor {
  min-height: 300px;
}